#Will Dickson's sine stimulus usb device
SUBSYSTEM=="usb_device", ACTION=="add", SYSFS{idVendor}=="1781",
SYSFS{idProduct}=="0bb0", GROUP="sinestim", MODE="0660"
